#ball {
    width: 100px;
    height: 100px;
    margin-top: 400px;
    animation-name: shapeshift;
    animation: shapeshift 6s infinite;
}
@keyframes shapeshift {
    0%, 100% {
        transform: translate(0,0);  
        border-radius: 100px;
        background-color: red;
    }
}